<h2 id="title">Welcome to Ember.js</h2>

<h3>this is a test</h3>
{{outlet}}

<div>
  {{#x-accordion allowManyOpenPanels=true as |accordion selectedItems|}}
    {{#x-accordion-item parentAccordion=accordion selectedItems=selectedItems defaultOpenPanelName="one" as |accordionItem openPanelName|}}

      {{#x-accordion-toggle panelName="one" accordionItem=accordionItem openPanelName=openPanelName}}
        One <i class="fa fa-angle-down"></i>
      {{/x-accordion-toggle}}
      {{#x-accordion-toggle panelName="two" accordionItem=accordionItem openPanelName=openPanelName}}
        Two <i class="fa fa-angle-down"></i>
      {{/x-accordion-toggle}}

      {{#x-accordion-panel name="one" openPanelName=openPanelName}}
        Thing One
      {{/x-accordion-panel}}
      {{#x-accordion-panel name="two" openPanelName=openPanelName}}
        Thing Two
      {{/x-accordion-panel}}

    {{/x-accordion-item}}

    <hr />
    {{#x-accordion-item parentAccordion=accordion selectedItems=selectedItems defaultOpenPanelName="other" as |accordionItem openPanelName|}}
      {{#x-accordion-toggle panelName="other" accordionItem=accordionItem openPanelName=openPanelName}}
        One <i class="fa fa-angle-down"></i>
      {{/x-accordion-toggle}}
      {{#x-accordion-panel name="other" openPanelName=openPanelName}}
        other thing
      {{/x-accordion-panel}}
    {{/x-accordion-item}}
  {{/x-accordion}}
</div>
