<h2 id="title">Welcome to Ember.js</h2>

<h3>this is a test</h3>
{{outlet}}

<div>
  {{#accordion-list allowManyOpenPanels=true as |accordion selectedItems|}}
    {{#accordion-item parentAccordion=accordion selectedItems=selectedItems defaultOpenPanelName="one" as |accordionItem openPanelName|}}

      {{#accordion-toggle panelName="one" accordionItem=accordionItem openPanelName=openPanelName}}
        One <i class="fa fa-angle-down"></i>
      {{/accordion-toggle}}
      {{#accordion-toggle panelName="two" accordionItem=accordionItem openPanelName=openPanelName}}
        Two <i class="fa fa-angle-down"></i>
      {{/accordion-toggle}}

      {{#accordion-panel name="one" openPanelName=openPanelName}}
        Thing One
      {{/accordion-panel}}
      {{#accordion-panel name="two" openPanelName=openPanelName}}
        Thing Two
      {{/accordion-panel}}

    {{/accordion-item}}

    <hr />
    {{#accordion-item parentAccordion=accordion selectedItems=selectedItems defaultOpenPanelName="other" as |accordionItem openPanelName|}}
      {{#accordion-toggle panelName="other" accordionItem=accordionItem openPanelName=openPanelName}}
        One <i class="fa fa-angle-down"></i>
      {{/accordion-toggle}}
      {{#accordion-panel name="other" openPanelName=openPanelName}}
        other thing
      {{/accordion-panel}}
    {{/accordion-item}}
  {{/accordion-list}}
</div>
