<h1>Ember Accordion</h1>
<p>
  An ambitious accordion addon which provides components for
  creating a list of items with collapsible content panels. It is
  great for presenting information in a limited amount of space.
</p>
<p>
  The {{#code-inline}}component:accordion-list{{/code-inline}} supports either a block or
  blockless interface.
</p>
<h2>Blockless Interface</h2>
<p>
  The blockless interface is dirt simple and has some configurability:
  <ul>
    <li>Allow multiple items to have an open panel simultaneously</li>
  </ul>
  For an example see {{#link-to 'blockless'}}Blockless Examples{{/link-to}}.
</p>

<h2>Block Interface</h2>
<p>
  The block form is more complex but offers the blockless features plus enhanced flexibility enabling:
  <ul>
    <li>Multiple conent panels per item</li>
    <li>Specifying a default open panel</li>
    <li>Nesting accordions</li>
    <li>Triggering a panel close by something other than a toggle click</li>
  </ul>
  See {{#link-to 'simple-block'}}Simple Block Examples{{/link-to}} to get started.
</p>
