<h1>Multiple Panels per Item</h1>

{{#accordion-list as |activeItems listClickHandler|}}
  {{#accordion-item activeItems listClickHandler as |activePanel itemClickHandler|}}
    accordion-item with two panels

    {{#accordion-toggle itemClickHandler panelName="one"}}
      One <i class="fa fa-angle-down"></i>
    {{/accordion-toggle}}
    {{#accordion-toggle itemClickHandler panelName="two"}}
      Two <i class="fa fa-angle-down"></i>
    {{/accordion-toggle}}

    {{#accordion-panel activePanel name="one"}}
      Thing One
    {{/accordion-panel}}
    {{#accordion-panel activePanel name="two"}}
      Thing Two
    {{/accordion-panel}}

  {{/accordion-item}}

  {{#accordion-item activeItems listClickHandler as |activePanel itemClickHandler|}}
    accordion-item with one panel

    {{#accordion-toggle itemClickHandler}}
      One <i class="fa fa-angle-down"></i>
    {{/accordion-toggle}}
    {{#accordion-panel activePanel}}
      other thing
    {{/accordion-panel}}

  {{/accordion-item}}
{{/accordion-list}}
