<div class='MultiplePanelsPage'>
  <h3>Multiple Panels per Item</h3>

  {{#accordion-list as |accordion|}}
    {{#accordion.item as |accordionItem|}}
      <h4>
        Accordion Item with two panels
        <div class="AccordionItem-toggles">
          {{#accordionItem.toggle panelName="comments" as |isActive|}}
            comments
          {{/accordionItem.toggle}}
          {{#accordionItem.toggle panelName="info" as |isActive|}}
            info
          {{/accordionItem.toggle}}
        </div>
      </h4>

      {{#accordionItem.panel panelName="comments"}}
        Here are some comments... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a elementum odio, sit amet feugiat risus. Integer venenatis eget quam a scelerisque. Nulla tincidunt tellus at maximus iaculis. Nulla a risus sed augue consectetur vehicula. Nunc lorem dolor, consectetur sed turpis eu, aliquam interdum velit. Aenean sit amet orci ut purus varius consequat. Morbi feugiat, ligula vel vehicula mattis, turpis nisl bibendum velit, vitae efficitur sapien nisi at ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin
      {{/accordionItem.panel}}
      {{#accordionItem.panel panelName="info"}}
        Here is some info
      {{/accordionItem.panel}}

    {{/accordion.item}}

    {{#accordion.item as |accordionItem|}}
      <h4>
        Accordion item with comments panel
        <div class="AccordionItem-toggles">
          {{#accordionItem.toggle as |isActive|}}
            comments
          {{/accordionItem.toggle}}
        </div>
      </h4>

      {{#accordionItem.panel}}
        Here are comments about the other thing.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a elementum odio, sit amet feugiat risus. Integer venenatis eget quam a scelerisque. Nulla tincidunt tellus at maximus iaculis. Nulla a risus sed augue consectetur vehicula. Nunc lorem dolor, consectetur sed turpis eu, aliquam interdum velit. Aenean sit amet orci ut purus varius consequat. Morbi feugiat, ligula vel vehicula mattis, turpis nisl bibendum velit, vitae efficitur sapien nisi at ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin
      {{/accordionItem.panel}}

    {{/accordion.item}}
  {{/accordion-list}}
</div>

{{#code-block language='markup'}}
&lt;!-- To enable more than one toggle/panel pair for an item, use the 'panelName' property. --&gt;
&lt;!-- The 'panelName' should be set to the same value for each toggle/panel pair. --&gt;

\{{#accordion-list as |accordion|}}
  \{{#accordion.item as |accordionItem|}}
    &lt;h4&gt;
      Accordion Item with two panels
      &lt;div class="AccordionItem-toggles"&gt;
        \{{#accordionItem.toggle panelName="comments" as |isActive|}}
          &lt;!-- ... --&gt;
        \{{/accordionItem.toggle}}
        \{{#accordionItem.toggle panelName="info" as |isActive|}}
          &lt;!-- ... --&gt;
        \{{/accordionItem.toggle}}
      &lt;/div&gt;
    &lt;/h4&gt;

    \{{#accordionItem.panel panelName="comments"}}
      Here are some comments...
    \{{/accordionItem.panel}}
    \{{#accordionItem.panel panelName="info"}}
      Here is some info
    \{{/accordionItem.panel}}

  \{{/accordion.item}}
\{{/accordion-list}}
{{/code-block}}


{{#code-block}}
&lt;!-- This example also highlights the yielded 'isActive' proprty of toggle which allows for --&gt;
&lt;!-- customizing the toggle based on active state. --&gt;

\{{#accordionItem.toggle panelName="comments" as |isActive|}}
  \{{#if isActive}}
    &lt;i class="fa fa-comment"&gt;&lt;/i&gt;
  \{{else}}
    &lt;i class="fa fa-comment-o"&gt;&lt;/i&gt;
  \{{/if}}
\{{/accordionItem.toggle}}
{{/code-block}}
