<h1>Basic Examples</h1>

<h2>Simplest Usage</h2>
<p>TBD docs</p>
{{#accordion-list as |accordion|}}
  {{#each items as |item|}}
    {{#accordion-item parentAccordion=accordion as |accordionItem|}}
      {{#accordion-toggle accordionItem=accordionItem}}
        {{item.name}}
        <i class="fa fa-angle-down"></i>
      {{/accordion-toggle}}
      {{#accordion-panel accordionItem=accordionItem}}
        {{item.color}}
      {{/accordion-panel}}
    {{/accordion-item}}
  {{/each}}
{{/accordion-list}}

<h2>Allow multiple panels to be open at once</h2>
<p>TBD docs</p>
{{#accordion-list allowManyOpenPanels=true as |accordion|}}
  {{#each items as |item|}}
    {{#accordion-item parentAccordion=accordion as |accordionItem|}}
      {{#accordion-toggle accordionItem=accordionItem}}
        {{item.name}}
        <i class="fa fa-angle-down"></i>
      {{/accordion-toggle}}
      {{#accordion-panel accordionItem=accordionItem}}
        {{item.color}}
      {{/accordion-panel}}
    {{/accordion-item}}
  {{/each}}
{{/accordion-list}}
